h1{
    margin-left: 30px;
    margin-top: 20px;
}

nav[aria-label="breadcrumb"]{
    margin-left: 30px;
    margin-top: 40px;
}

.search-filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-top: 40px;
}

.form-control.form-control-lg{
    width: 500px;
    margin-right: 30px; 
}

.filter{
    display: flex;
    align-items: center;
    gap: 20px;
}

.col-sm-2.col-form-label.col-form-label-lg{
    margin-right: 10px;
}

.btn.btn-primary.btn-lg{
    margin-left: 30px;
}

.custom-margin{
    margin-left: 30px;
}


